<html>
        <head>
		    <title>Haiku Control Testing</title>
            <!-- External CSS sheet for this page -->
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}" />
            
			<script type = "text/javascript" 
				src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		</head>
        <body>
            <p>
            <p>
            <p>Device To Control<ul>
            <!-- Insert drop down menu to select which device to control -->
            <div class="dropdown">
                <button id="DeviceSelectionButton" type="button" class="dropbtn" value="Refresh Device List">Refresh Device List</button>
                <div id="DeviceListSelection" class="dropdown-content">
                    <a href="#">Link 1</a>
                    <!-- list of all detected devices, try and do it dynamically -->
                    <script type = "text/javascript" language = "javascript">
                        $(document).ready(function() {                                                      // When page is ready to run javascript
                            var table = document.getElementById("DeviceTable");                             // Selects which table by ID
                            var i = 0;                                                                      // Inializes the counter to 0
                            var header = table.createTHead();                                               // Sets up the header of the columns
                            var row = header.insertRow(i);                                                  // Inserts header row
                            var cellName = row.insertCell(i);                                               // Inserts the 1st cell
                            var cellIP = row.insertCell(i+1);                                               // Inserts 2nd cell
                            var cellModel = row.insertCell(i+2);                                            // etc
                            var cellSeries = row.insertCell(i+3);                   
                            var cellMAC = row.insertCell(i+4);
                            cellName.innerHTML = "<b>Name</b>";                                             // Makes the 1st row a bunch of bold text
                            cellIP.innerHTML = "<b>IP Address</b>";
                            cellModel.innerHTML = "<b>Model</b>";
                            cellSeries.innerHTML = "<b>Series</b>";
                            cellMAC.innerHTML = "<b>MAC Address</b>";
                            table.style.border = "thin solid black";
                            table.style.backgroundColor='#BCD4EC';
                            $("#DeviceSelectionButton").click(function(){                                   // Defines what button to look for on mouse click
                                // Clear any data still left in table
                                var table = document.getElementById("DeviceTable");
                                for ( var i = table.rows.length - 1; i > 0; i-- ) {
                                    table.deleteRow(i);
                                }
                                $('#deviceList').html('<p> Loading Data...' + '</p>');
                                document.getElementById("DeviceSelectionButton").innerHTML="Loading...";            // Changes button text while loading data        
                                $.getJSON('getdevicelist', function(data) {                                         // The function/webpage to run when button above is clicked


                                    for ( var key in data ) {                                                       // Starts filling in the rest of the table based on the JSON data
                                        row = table.insertRow(i+1);
                                        cellName = row.insertCell(i);
                                        cellIP = row.insertCell(i+1);
                                        cellModel = row.insertCell(i+2);
                                        cellSeries = row.insertCell(i+3);
                                        cellMAC = row.insertCell(i+4);
                                        cellName.innerHTML = data[key]["Name"];
                                        cellIP.innerHTML = data[key]["IP"];
                                        cellModel.innerHTML = data[key]["Model"];
                                        cellSeries.innerHTML = data[key]["Series"];
                                        cellMAC.innerHTML = data[key]["MAC"];
                                        //console.log(cellName.innerHTML);
                                        deviceName = cellName.innerHTML;
                                        deviceIP = cellIP.innerHTML;
                                        deviceModel = cellModel.innerHTML;
                                        deviceSeries = cellSeries.innerHTML;
                                        deviceMAC = cellMAC.innerHTML;
                                        row.setAttribute('onclick', 'saveSelectionOfDevice(deviceName, deviceIP, deviceModel, deviceSeries, deviceMAC);' + onclick );       // Sets the row onclick attribute to pass into the function to save the data
                                    }
                                    document.getElementById("DeviceSelectionButton").innerHTML="Done Loading!";             // Changes button text while loading data   
                                });
                            });
                        });
                    </script>
                </div>
            </div>
            <div class="deviceListTable">
                <table id="DeviceTable">
                <colgroup>
                </colgroup>
                </table>
            </div>
            <p>Light<ul>
				<li><a href="/light/toggle">Toggle Light</a></li>
				<li><a href="/light/on">Light On</a></li>
				<li><a href="/light/off">Light Off</a></li>
				<li><a href="/light/increase">Increase Light</a></li>
				<li><a href="/light/decrease">Decrease Light</a></li>
			</ul></p>
			<p>Fan<ul>
				<li><a href="/fan/toggle">Toggle Fan</a></li>
				<li><a href="/fan/on">Fan On</a></li>
				<li><a href="/fan/off">Fan Off</a></li>
				<li><a href="/fan/increase">Increase Speed</a></li>
				<li><a href="/fan/decrease">Decrease Speed</a></li>
			</ul></p>
        </body>
</html>
<script type = "text/javascript" language = "javascript">
//This function will be run when a user clicks on a row in the table
function saveSelectionOfDevice(name, ip, model, series, mac) {
    console.log("Name: " + name + " / IP: " + ip);
};
</script>
