<html>
        <head>
		    <title>The jQuery Example</title>
			<script type = "text/javascript" 
				src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		
			<script type = "text/javascript" language = "javascript">
				$(document).ready(function() {
			
					$("#driver").click(function(event){
						$('#deviceList').html('<p> Loading Data...' + '</p>');
						$.getJSON('devices', function(data) {
						$('#deviceList').html('<p> Data Successfully Loaded!' + '</p>');
							for ( var key in data ) {
								$('#deviceList').append('<p> Name: ' + [key] + '</p>');
								$('#deviceList').append('<p> IP: ' + data[key].IP + '</p>');
								$('#deviceList').append('<p> MAC: ' + data[key].MAC + '</p>');
								$('#deviceList').append('<p> Model: ' + data[key].Model + '</p>');
								$('#deviceList').append('<p> Series: ' + data[key].Series + '</p>');
							}
						});
					});
				
				});
			</script>
		</head>
        <body>
		<p>Click on the button to load list of detected devices:</p>
		
		<div id = "deviceList" style = "background-color:#cc0;">
			Device List
		</div>
		<input type = "button" id = "driver" value = "Get Device List" />
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            <p>Light<ul>
				<li><a href="/light/toggle">Toggle Light</a></li>
				<li><a href="/light/on">Light On</a></li>
				<li><a href="/light/off">Light Off</a></li>
				<li><a href="/light/increase">Increase Light</a></li>
				<li><a href="/light/decrease">Decrease Light</a></li>
			</ul></p>
			<p>Fan<ul>
				<li><a href="/fan/toggle">Toggle Fan</a></li>
				<li><a href="/fan/on">Fan On</a></li>
				<li><a href="/fan/off">Fan Off</a></li>
				<li><a href="/fan/increase">Increase Speed</a></li>
				<li><a href="/fan/decrease">Decrease Speed</a></li>
			</ul></p>
        </body>
</html>
