<html>
        <head>
		    <title>Haiku Control Testing</title>
            <!-- External CSS sheet for this page -->
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}" />
            
			<script type = "text/javascript" 
				src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
			<!-- Loads socketIO library from external source -->
			<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
		</head>
        <body>
            <p>
            <p>
            <p>Device To Control<ul>
            <!-- Insert drop down menu to select which device to control -->
            <div class="dropdown">
                <button id="DeviceSelectionButton" type="button" class="dropbtn" value="Refresh Device List">Refresh Device List</button>
                <div id="DeviceListSelection" class="dropdown-content">
                    <!-- list of all detected devices, try and do it dynamically -->
                    <script type = "text/javascript" language = "javascript">
                        $(document).ready(function() {                                                      // When page is ready to run javascript
                            var table = document.getElementById("DeviceTable");                             // Selects which table by ID
                            var i = 0;                                                                      // Inializes the counter to 0
                            var header = table.createTHead();                                               // Sets up the header of the columns
                            var row = header.insertRow(i);                                                  // Inserts header row
                            var cellName = row.insertCell(i);                                               // Inserts the 1st cell
                            var cellIP = row.insertCell(i+1);                                               // Inserts 2nd cell
                            var cellModel = row.insertCell(i+2);                                            // etc
                            var cellSeries = row.insertCell(i+3);                   
                            var cellMAC = row.insertCell(i+4);
                            cellName.innerHTML = "<b>Name</b>";                                             // Makes the 1st row a bunch of bold text
                            cellIP.innerHTML = "<b>IP Address</b>";
                            cellModel.innerHTML = "<b>Model</b>";
                            cellSeries.innerHTML = "<b>Series</b>";
                            cellMAC.innerHTML = "<b>MAC Address</b>";
                            table.style.border = "thin solid black";
                            table.style.backgroundColor='#BCD4EC';
                            $("#DeviceSelectionButton").click(function(){                                   // Defines what button to look for on mouse click
                                // Clear any data still left in table
                                var table = document.getElementById("DeviceTable");
                                for ( var i = table.rows.length - 1; i > 0; i-- ) {
                                    table.deleteRow(i);
                                }
                                $('#deviceList').html('<p> Loading Data...' + '</p>');
                                document.getElementById("DeviceSelectionButton").innerHTML="Loading...";            // Changes button text while loading data        
                                $.getJSON('getdevicelist', function(data) {                                         // The function/webpage to run when button above is clicked


                                    for ( var key in data ) {                                                       // Starts filling in the rest of the table based on the JSON data
                                        row = table.insertRow(i+1);
                                        cellName = row.insertCell(i);
                                        cellIP = row.insertCell(i+1);
                                        cellModel = row.insertCell(i+2);
                                        cellSeries = row.insertCell(i+3);
                                        cellMAC = row.insertCell(i+4);
                                        cellName.innerHTML = data[key]["Name"];
                                        cellIP.innerHTML = data[key]["IP"];
                                        cellModel.innerHTML = data[key]["Model"];
                                        cellSeries.innerHTML = data[key]["Series"];
                                        cellMAC.innerHTML = data[key]["MAC"];
                                        //console.log(cellName.innerHTML);
                                        deviceName = cellName.innerHTML;
                                        deviceIP = cellIP.innerHTML;
                                        deviceModel = cellModel.innerHTML;
                                        deviceSeries = cellSeries.innerHTML;
                                        deviceMAC = cellMAC.innerHTML;
                                        console.log("Test");
                                        row.setAttribute('onclick', 'saveSelectionOfDevice("' + deviceName +'", "' + deviceIP + '", "' + deviceModel + '", "' + deviceSeries + '", "' + deviceMAC + '")' );       // Sets the row onclick attribute to pass into the function to save the data
                                    }
                                    document.getElementById("DeviceSelectionButton").innerHTML="Done Loading!";             // Changes button text while loading data   
                                });
                            });
                        });
                    </script>
                </div>
            </div>
            <div class="deviceListTable">
                <table id="DeviceTable">
                <colgroup>
                </colgroup>
                </table>
            </div>
            <p>Light<ul>
				<li><a href="/light/toggle">Toggle Light</a></li>
				<li><a href="/light/on">Light On</a></li>
				<li><a href="/light/off">Light Off</a></li>
				<li><a href="/light/increase">Increase Light</a></li>
				<li><a href="/light/decrease">Decrease Light</a></li>
			</ul></p>
			<p>Fan<ul>
				<li><a href="/fan/toggle">Toggle Fan</a></li>
				<li><a href="/fan/on">Fan On</a></li>
				<li><a href="/fan/off">Fan Off</a></li>
				<li><a href="/fan/increase">Increase Speed</a></li>
				<li><a href="/fan/decrease">Decrease Speed</a></li>
			</ul></p>
		    <div class="deviceStatusGUI">
			    <h2>Light Status: </h2> <span class="jqLightStatus">Unknown</span>
			    <h2>Fan Status: </h2> <span class="jqFanStatus">Unknown</span>
			</div>
        </body>
</html>
<script type = "text/javascript" language = "javascript">
//This function will be run when a user clicks on a row in the table

function saveSelectionOfDevice(name, ip, model, series, mac) {
//    WEB_SOCKET_SWF_LOCATION = "/static/WebSocketMain.swf";
//    WEB_SOCKET_DEBUG = true;
//    socket = io.connect('http://' + document.domain + ':' + location.port);
    
    client_message = JSON.stringify('{"Name":"' + name + '","IP":"' + ip + '","Model":"' + model + '","Series":"' + series + '","MAC":"' + mac + '"}');

    window.setInterval(function() {
        socket.emit("devicestatus", client_message);
    //console.log("[x] Sent: " + client_message);
    }, 5000);
        
};
</script>
<script type = "text/javascript" language = "javascript">
// This section will be for javascript that constantly runs once page is loaded, such as device status

// Set up the receiving of the websocket as soon as possible
WEB_SOCKET_SWF_LOCATION = "/static/WebSocketMain.swf";
WEB_SOCKET_DEBUG = true;
socket = io.connect('http://' + document.domain + ':' + location.port);

function displayStatus() {
    socket.on('devicestatus', function(message) {
        //console.log("[x] Received    : " + message);
        var status = JSON.stringify(message);
        //console.log("Message Data: " + message.light.status);
        
        var $jqLightStatus = $('.jqLightStatus');                               // Defines a variable and points it to the HTML span class name
        var $jqFanStatus = $('.jqFanStatus');                                   // Defines a variable and points it to the HTML span class name
        $jqLightStatus.html(message.light.status);                              // Overwrites the HTML text with the value of the variable
        $jqFanStatus.html(message.fan.status);                                  // Overwrites the HTML text with the value of the variable
    });
};

window.onload = displayStatus;
</script>
